# Node modules
node_modules/
**/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Environment variables
.env
**/.env
.env.local
.env.*.local

# Build folders
dist/
build/
**/dist/
**/build/

# Mac system files
.DS_Store

# VS Code settings
.vscode/

# Temporary files
*.tmp

# Local MongoDB runtime files
.mongodb/

# Python
__pycache__/
*.pyc
