PORT=3004
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/<dbname>
JWT_SECRET=your_jwt_secret_key
INTERNAL_SERVICE_TOKEN=your_internal_service_token
ORDER_SERVICE_URL=http://localhost:3003
