# MongoDB Configuration
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/<dbname>

# AI Configuration (OpenRouter/OpenAI)
OPENAI_API_BASE=https://openrouter.ai/api/v1
OPENROUTER_API_KEY=your_openrouter_api_key
OPENROUTER_MODEL=openai/gpt-4o-mini
CORS_ORIGIN=http://localhost:5173

# LangSmith Configuration
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=your_langsmith_api_key
LANGSMITH_PROJECT="280"

# Other AI Providers
ANTHROPIC_API_KEY=your_anthropic_api_key
